rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{order} {
      allow get
      allow read, write: if request.auth.token.email == 'admin@chatty-chef.web.app'
    }
  }
}
